* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #62B6B7;
}

.select-box, .play-board, .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

/* select box */

.select-box {
    background-color: #fff;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.select-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.select-box header {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.select-box .title {
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0;
}

.select-box .options {
    display: flex;
    width: 100%;
}

.options button {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 0;
    border: none;
    outline: none;  
    background-color: #62B6B7;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.options button:hover, .result-box .btn button:hover {
    transform: scale(0.9);
}

.options button.playerX {
    margin-right: 5px;
}

.options button.playerO {
    margin-left: 5px;
}

/* playboard */
.play-board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.play-board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.play-board .details {
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
}

.play-board .details .players {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.play-board .details span {
    width: 100%;
    border-radius: 5px;
    padding: 7px 0;
    font-size: 19px;
    cursor: default;
    text-align: center;
    color: #62B6B7;
    position: relative;
    z-index: 5;
    transition: all 0.3s ease;
}   

.details span:first-child {
    color: #fff;
}

.details .slider {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 50%;
    background-color: #62B6B7;
    border-radius: 5px;
    z-index: 2;
    transition: all 0.3s ease;
}

.players.active span:first-child {
    color: #62B6B7;
}

.players.active span:nth-child(2) {
    color: #fff;
}

.players.active .slider {
    left: 50%;
}

.play-board .play-area {
    margin-top: 20px;
}

.play-board section {
    display: flex;
}

.play-board section span {
    display: block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    margin: 3px;
    border-radius: 5px;
    color: #62B6B7;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
}

.result-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
    
.result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box .won-text {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won-text p {
    font-weight: 600;
    margin: 0 5px;
}

.result-box .btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.result-box .btn button {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;  
    background-color: #62B6B7;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}